   .field {
       border: 1px black solid;
       width: 50px;
       height: 50px;
       float: left;
       transition: .3s;
       position:relative;
   }

   #board {
       width: 550px;
   }

   .red {

   }

   .yellow {
       /* background: rgba(255,255,0,0.8); */
       border: 1px yellow solid !important;
   }

   .green {
        /* border:1px green solid; */
       background: green;
       opacity: 0.6;
       cursor:pointer;
   }

   .blue {
       /* z-index:-1000; */
   }

   .attacked {
       opacity: 0.6;
   }

   .moved {
       opacity: 0.8;
   }

   .life {
       color: green;
       background: white;
       z-index:1000;
   }

   .attack {
       color: red;
       background: white;
       margin-left: 5px;
       z-index:1000;
   }

   .bolticon {
       cursor: url('bolt.png'), auto;
   }

   .bolticon:hover {
       opacity: 0.4
   }

   .add {
       cursor: cell;
   }


   .add:hover {
       opacity:0.3;
       background:yellow;
   }

   .skeleton::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:white url('images/skeleton.png');
        background-repeat:no-repeat;
        background-size: contain;
        z-index:-2;
    /* transform: rotate(90deg); */

   }

    .mage::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white url('images/mage.png');
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -2;
        /* transform: rotate(90deg); */

    }

   .rotate::before {
    transform: rotate(180deg);

   }

   #bootinfo:hover{
    opacity:0.6;
   }