   .field {
       border: 1px black solid;
       width: 50px;
       height: 50px;
       float: left;
       transition: .3s;
       position: relative;
       box-sizing: border-box;
   }

   .field::before {
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background: url('images/grass.png');
       background-repeat: repeat;
       background-size: contain;
       z-index: -4;
       box-sizing: border-box;

   }

   #board {
       width: 500px;
       position: relative;
   }

   .red {
       border: 2px red solid;
       /* opacity: 0.4 !important; */
       cursor: pointer;
   }

   .red::before {
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background: rgba(255,0,0,0.3);
       background-repeat: repeat;
       background-size: contain;
       z-index: -3;
       box-sizing: border-box;
   }

   .yellow {
       /* background: rgba(255,255,0,0.8); */
       border: 4px yellow solid !important;
       /* box-sizing: border-box; */
   }

   .green {
       /* border:1px green solid; */
       background: green;
       opacity: 0.6;
       cursor: pointer;
   }

   .blue {
       /* z-index:-1000; */
   }

   .attacked {
       opacity: 0.6;
   }

   .moved {
       opacity: 0.8;
   }

   .life {
       color: green;
       background: white;
       z-index: 1000;
   }

   .attack {
       color: red;
       background: white;
       margin-left: 5px;
       z-index: 1000;
   }

   .bolticon {
       cursor: url('images/bolt.png'), auto !important;
   }

   .bolticon:hover {
       opacity: 0.4
   }

   .add {
       cursor: cell !important;
   }


   .add:hover {
       opacity: 0.3;
       background: yellow;
   }

   .skeleton::before {
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background: white url('images/skeleton.png');
       background-repeat: no-repeat;
       background-size: contain;
       z-index: -2;
       /* transform: rotate(90deg); */

   }

   .mage::before {
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background: white url('images/mage.png');
       background-repeat: no-repeat;
       background-size: contain;
       z-index: -2;
       /* transform: rotate(90deg); */

   }

   .rat::before {
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background: white url('images/rat.png');
       background-repeat: no-repeat;
       background-size: contain;
       z-index: -2;
       /* transform: rotate(90deg); */

   }

   .rotate::before {
       transform: scaleX(-1);
   }

   #bootinfo:hover {
       opacity: 0.6;
   }

   #kula {
       background: red;
       border: 1px black solid;
       width: 10px;
       height: 10px;
       border-radius: 90%;
       position: absolute;
       display: none;
   }